<header>
	<div class="ym-wrapper">
		<div class="ym-wbox">

			<div class="ym-grid">
				<div class="ym-g25 ym-gl">
					<div class="ym-gbox">
						Days
					</div>
					<div class="ym-grid" id="daystime">
						0
					</div>
				</div>
				<div class="ym-g25 ym-gr">
					<div class="ym-gbox">
						Hours
					</div>
					<div class="ym-grid" id="hourstime">
						0
					</div>
				</div>
				<div class="ym-g25 ym-gr">
					<div class="ym-gbox">
						Minutes
					</div>
					<div class="ym-grid" id="minutestime">
						0
					</div>
				</div>
				<div class="ym-g25 ym-gr">
					<div class="ym-gbox">
						Seconds
					</div>
					<div class="ym-grid" id="secondstime">
						0
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="ym-wrapper">
	<div class="ym-wbox">

		<!-- ************************ Animal killing counters ************************************** -->
		<!-- ************************ Animal killing counters ************************************** -->
		<!-- ************************ Animal killing counters ************************************** -->

		<div class="ym-grid">
			<div class="ym-g50 ym-gl">
				<div class="ym-gbox">
					Animals slaughtered since you have opened the website:
				</div>

				<%
				i = 0
				while i < 18
				%>
				<div class="ym-grid">
					<div class="ym-g50 ym-gl">
						<span id="count<%= i.to_s %>">0</span>
					</div>
					<div class="ym-g50 ym-gr">
						<span> <%= @AnimalsSlaughtered[i].to_s %> </span>
					</div>
				</div>
				<% i = i + 1 %>
				<% end %>

			</div>
			<div class="ym-g50 ym-gr">
				<%= image_tag "keepcalm_govegan.png" %>
			</div>
		</div>

	</div>
</div>


<div class="ym-wrapper">
	<div class="ym-wbox">
		
		<section class="box info">
			<div class="ym-grid linearize-level-1">
				<div class="ym-g66 ym-gl">

					<div class="ym-grid linearize-level-2">
						<article class="ym-g50 ym-gl">
							<div class="ym-gbox-left">
								<p class="highlight">These are the numbers of animals killed worldwide by the meat, egg, dairy and fish industries since you opened this webpage.</p>
							</div>
						</article>
						<article class="ym-g50 ym-gr">
							<div class="ym-gbox">
								<p class="highlight">These numbers do <b><ins>NOT</ins></b> include the many millions of animals killed each year in vivisection laboratories.</p>
								</div>
						</article>
					</div>

				</div>
				<article class="ym-g33 ym-gr">
					<div class="ym-gbox-right secondary">
						<p class="highlight">They do <b><ins>NOT</ins></b> include the millions of dogs and cats killed in animal shelters every year.</p>
					</div>
				</article>
			</div>
			<div class="ym-grid linearize-level-1">
				<div class="ym-g100 ym-gl">

					<div class="ym-grid linearize-level-2">
						<article class="ym-g50 ym-gl">
							<div class="ym-gbox-left">
								<p class="highlight">They do <b><ins>NOT</ins></b> include the animals who died while held captive in the animal-slavery enterprises of circuses, rodeos, zoos, and marine parks.</p>
							</div>
						</article>
						<article class="ym-g50 ym-gr">
							<div class="ym-gbox">
								<p class="highlight">They do <b><ins>NOT</ins></b> include the animals killed while pressed into such blood sports as bullfighting, cockfighting, dogfighting, and bear-baiting, nor do they include horses and greyhounds who were exterminated after they were no longer deemed suitable for racing.</p>
								</div>
						</article>
					</div>

				</div>
			</div>

		</section>
		
		
		<div class="ym-grid v-grid linearize-level-1">
			<div class="ym-gbox-right">

				<h4>Stats Origins</h4>

                <p>
                	Data for the Kill Counter are based on worldwide animal slaughter statistics culled from the <%= link_to "Food and Agriculture Organization of the United Nations", "http://www.fao.org/index_en.htm" %> for the year 2003. According to these statistics, about 53 billion land animals are slaughtered annually worldwide. (It should be noted that at the time the numbers were compiled, they were the minimum numbers of animals killed each year. The actual numbers may be significantly greater insofar as some countries or territories either did not report, or deliberately excluded, some statistics.) Of the more than 200 countries researched, the top three - the United States, China, and Brazil - consume a staggering 46 percent of these animals as food. The United States alone consumes roughly 20 percent of all animals slaughtered for food even though it contains less than five percent of the world's population.

It's important to note that, since most of the available data are now eight years old as of 2011, these estimates are extremely conservative. It is now quite likely that in many of the categories noted, the current kill rates are as much as 10 percent higher than what is indicated here. As soon as more accurate statistics become available, ADAPTT pledges to update its Kill Counter accordingly.
				</p>

			</div>
		</div>
		
		<div class="ym-grid v-grid linearize-level-1">
			<div class="ym-gbox-right">


                <p>
	                <b>
	                	All the credit for this counter goes to <%= link_to "ADAPTT", "http://www.adaptt.org/killcounter.html" %>. To view the origin of this counter and/or to get the HTML-codes to add it to your website, please visit <%= link_to "ADAPTT", "http://www.adaptt.org/" %>.
	                </b>
                </p>

			</div>
		</div>
			
	</div>
</div>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid">
			<div class="ym-g80">
				<div class="ym-gbox-right">
				<!-- 1rst line of pictures in the grid -->
					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://www.animal-rights-action.com/images/meat-trade-common-slaughterhouse-abuse.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://1.bp.blogspot.com/-ORS0AAIWbb8/UDYSCw5gmTI/AAAAAAAABP8/KkLlrNdc1kQ/s1600/561708_354202954661592_1637467232_n.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://en.rian.ru/images/17353/16/173531698.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://animalsmatter.files.wordpress.com/2009/11/picture-2.png", :class => "flexible", :alt => "", :role => "presentation" %>			
							</div>
						</div>
					</div>
				<!-- End 1rst of line -->
				<!-- 2nd line of pictures in the grid -->
					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://2.bp.blogspot.com/-YrhydnpAtuw/T8436WkV9wI/AAAAAAAAAys/LrwE36NrkAM/s1600/slaughterhouse.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://www.veganpeace.com/animal_cruelty/Pictures/turkeytransporation.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://api.ning.com/files/7YvXbHyODybiXIXlXGlzO-DJoWv85yQpCNxlF3fHjHDbeTZ4VXyxr31c1kw3lxeUWC4fGrSWTaE6N*aw7SQT61-YwvaDwQoo/slaughterhouseCAFTs2021.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://dingo.care2.com/pictures/c2c/share/25/251/180/2518014_370.jpg", :class => "flexible", :alt => "", :role => "presentation" %>			
							</div>
						</div>
					</div>
				<!-- End 2nd of line -->
				<!-- 3rd line of pictures in the grid -->
					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://www.satyamag.com/sat.site.images/prescott-2.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://zhestokosti.net/abuse/images/bigimages/Turkey/turkey-trans.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://vegnews.com/web/uploads/asset/1242/file/batteryhens.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://wwwimage.cbsnews.com/CBS_Production_News/603/210/evening_cordes0130_320x240.jpg", :class => "flexible", :alt => "", :role => "presentation" %>			
							</div>
						</div>
					</div>
				<!-- End 3rd of line -->
				<!-- 4th line of pictures in the grid -->
					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://www.rabbitfur.org/photos/slaughter/slaughterhouse%20CAFT%20s1979.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://www.sefskillz.com/tree/tree/pictures/slaughterhouse.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://failedmessiah.typepad.com/.a/6a00d83451b71f69e201910259596a970c-400wi", :class => "flexible", :alt => "", :role => "presentation" %>
								
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://tvxs.gr/sites/default/files/article/2013/16/125847-animal_abuse_videos_bill.jpg", :class => "flexible", :alt => "", :role => "presentation" %>			
							</div>
						</div>
					</div>
				<!-- End 4th of line -->
				<!-- 5th line of pictures in the grid -->
					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://dingo.care2.com/pictures/c2c/share/13/134/434/1343488_370.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
								
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://dingo.care2.com/pictures/c2c/share/14/142/253/1425362_370.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
								
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://www.theneworder.org/media/74932/kosher_slaughter-graphic.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "http://www.skyvalleychronicle.com/999/news/img201208211331391669992586.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
					</div>
				<!-- End 5th of line -->
				<!-- 6th line of pictures in the grid -->
					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "http://i186.photobucket.com/albums/x155/katvee/smalller.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
								
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">

								<%= image_tag "", :class => "flexible", :alt => "", :role => "presentation" %>
								
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
						<div class="ym-g25 ym-gl">
							<div class="ym-gbox-left">
								<%= image_tag "", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
					</div>
				<!-- End 6th of line -->
					<p class="box info"><strong>Important:</strong> The picture just above speak for themselves.</p>
				</div>
	  		</div>
				
			</div>
		</div>
	</div>
</div>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-g100 ym-gr">
				<div class="ym-gbox-right">

					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-75 ym-gl">
							<div class="ym-gbox-left">
								<h4>Words by <%= link_to "Howard Lyman", "http://en.wikipedia.org/wiki/Howard_Lyman" %> </h4>					
									<%= image_tag "http://www.animalliberationfront.com/Practical/FactoryFarm/Slaughter/visitslaughterhouse.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
					</div>
				</div>
	  		</div>
	</div>
</div>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-g100 ym-gr">
				<div class="ym-gbox-right">

					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-75 ym-gl">
							<div class="ym-gbox-left">
								<h4>Words by <%= link_to "Mahatma Gandhi", "http://en.wikipedia.org/wiki/Mahatma_Gandhi" %> </h4>					
									<%= image_tag "http://www.peta.org/cfs-filesystemfile.ashx/__key/CommunityServer-Components-ImageFileViewer/CommunityServer-Blogs-Components-WeblogFiles-00-00-00-01-48/2577.408282_5F00_10151177990629586_5F00_1848475329_5F00_n.jpg_2D00_594x0.jpg", :class => "flexible", :alt => "", :role => "presentation" %>
							</div>
						</div>
					</div>
				</div>
	  		</div>
	</div>
</div>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-g100 ym-gr">
				<div class="ym-gbox-right">

					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-75 ym-gl">
							<div class="ym-gbox-left">
								<h4> They feel fear <em> as human animals </em> </h4>					
									<p> <%= raw( youtube_embed('http://youtu.be/LUkHkyy4uqw') ) %> </p>
							</div>
						</div>
					</div>
				</div>
	  		</div>
	</div>
</div>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-g100 ym-gr">
				<div class="ym-gbox-right">

					<div class="ym-grid v-grid linearize-level-2">
						<div class="ym-75 ym-gl">
							<div class="ym-gbox-left">
								<h4> A kiss before dying and celebration after being shot </h4>					
									<p> <%= raw( youtube_embed('http://youtu.be/EAI5oaDF5RI') ) %> </p>
							</div>
						</div>
					</div>
				</div>
	  		</div>
	</div>
</div>


<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid v-grid linearize-level-1">
			<div class="ym-gbox-right">

				<h4>The falacy of the vitamin B12 in a Vegan Diet <em> by <%= link_to "Gary Yourofsky", "http://en.wikipedia.org/wiki/Gary_Yourofsky"%> </em></h4>

                <p>
                	After 16 years of practicing veganism without taking a single vitamin, I had my B12 level checked on October 24, 2012. It was 543 pg/mL. The normal range is between 271-870 pg/mL. My level is perfect because the human body needs just three micrograms of B12 per day, and we possess bacteria in the mouth and intestines that produce it naturally (see links below). B12 also comes from the earth’s soil, which is why some animals possess trace amounts of B12. They eat dirt when they eat off the ground, and animal-feed is never washed. However, attempting to get secondary trace amounts of B12 by eating animal products is inefficient and deadly. First, B12 is destroyed by heat. Second, animal products contain disease-causing compounds like cholesterol, saturated fat, trans-fatty acids, casein and animal protein. The heat destruction explains why 99 percent of people with B12 deficiencies are meat, dairy and egg-eaters. The remaining one percent are junk-food vegetarians and vegans, or people with an underlying medical condition that prevents B12 absorption. The veg junk food groups are also at risk for other ailments because optimum health cannot be achieved with cheese, eggs, Ruffles, Oreos, french fries, white rice, white bread, or refined pastas. Non-junk-food veganism causes no disease. It is preventative medicine, the treatment and the cure. There’s also a reason why the term ‘B Complex’ was created. Any plant product containing a B vitamin actually has ALL the B vitamins, including B12.
				</p>
				<p>
					The best way to get B12 is to eat unwashed organic fruits and vegetables with some soil intact. The best sources are barley, beans, chlorella, dulse, grains (all), grapes (concord), kelp, mustard greens, nori, nuts, plums, prunes, sauerkraut (unpasteurized), seeds (all), soy, spirulina, sprouts (all), wheatgerm and wheatgrass. You can also add Red Star nutritional yeast to your meals.
				</p>
				<p>
					For TRUE, UNBIASED, MEDICAL info on B12, check out <%= link_to "http://libaware.economads.com/b12issue.php", "http://libaware.economads.com/b12issue.php" %> and <%= link_to "www.naturalnews.com/029531_vitamin_B12_vegan.html", "www.naturalnews.com/029531_vitamin_B12_vegan.html" %>.
                </p>

			</div>
		</div>
	</div>
</div>

<!-- According to my way of programming, this must go at the end of the file -->
<!-- This JavaScript call fires up (or starts) the animal killing counter -->
<script type="text/javascript">StartKillCounter();</script>
