<div class="grid-container">
  <div class="grid-25">
		I am 25% wide.
	</div>
  <div class="grid-50">
	  	<div class="grid-container">
			  <div class="grid-25">
			    days
	  		  </div>
			  <div class="grid-25">
			   	hours
	  		  </div>
	  		  <div class="grid-25">
			    minutes
			  </div>
	  		  <div class="grid-25">
			  	seconds
			  </div>
		</div>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>


<div class="grid-container">
  <div class="grid-25">
		I am 25% wide.
	</div>
  <div class="grid-50">
	  	<div class="grid-container">
			  <div class="grid-25" id="daystime">
			    0
	  		  </div>
			  <div class="grid-25" id="hourstime">
			   	0
	  		  </div>
	  		  <div class="grid-25" id="minutestime">
			    0
			  </div>
	  		  <div class="grid-25" id="secondstime">
			  	0
			  </div>
		</div>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    Rabbits
  </div>
  <div class="grid-50">
		<%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Easter-Easter-rabbit-icon.png' %>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    Cows
  </div>
  <div class="grid-50">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Animals-Cow-icon.png' %>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    Pigs
  </div>
  <div class="grid-50">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Animals-Pig-icon.png' %>
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-25">
    <%= image_tag 'http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Easter-Easter-rabbit-icon.png' %>
  </div>
  <div class="grid-50">
    I am 50% wide.
  </div>
  <div class="grid-25">
    I am 25% wide.
  </div>
</div>

<div class="grid-container">
  <div class="grid-50">
    Tall content here that
    would be alongside the
    50%, 25|25 25|25 rows.
  </div>

  <!--
    Nested grid units...
  -->

  <div class="grid-50 grid-parent">
    <div class="grid-50">
      Row 1:
        I am 25% (50% of 50%)
    </div>
    <div class="grid-50">
      Row 1:
        I am 25% (50% of 50%)
    </div>
    <div class="grid-50">
      Row 2:
        I am 25% (50% of 50%)
    </div>
    <div class="grid-50">
      Row 2:
        I am 25% (50% of 50%)
    </div>
  </div>
</div>


<%
i = 0
while i < 18 
%>
	<div class="grid-container">
	  <div class="grid-25">
			I am 25% wide.
		</div>
	  <div class="grid-50">
		  	<span id="count<%= i.to_s %>">0</span> specific animal <br />
	  </div>
	  <div class="grid-25">
	    I am 25% wide.
	  </div>
	</div>
	<% i = i + 1 %>
<% end %>

<script type="text/javascript">
		StartKillCounter();
</script>
